<?xml version="1.0" encoding="utf-8"?>
<!--
This file is Copyright 2005 OpenArrow Software.

OpenArrow Software grants you a license to copy, modify,
use, and distribute this file according to the terms of the 
Common Public License version 1.0. You should have a copy 
of this license in the license.txt file located at the root
of this project. If not, Visit 
http://www.opensource.org/licenses/cpl1.0.php or 
send e-mail to openarrow@gmail.com to view a copy of this license
-->
<configuration>
</configuration>